<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{title}}</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
</head>

<body>
    <h1> Storing feeds </h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <h3> Head over to <a href="{% url 'refresh_feeds' %}"> Refresh RSS feeds </a> to fetch latest articles for current RSS sources.</h3>
    <h3> Head over to <a href="{% url 'store_feeds' %}"> update local RSS sources</a> </h3>
    <h3> Head over to <a href="{% url 'articles-list' %}"> view already fetched RSS articless</a> </h3>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function autorun() {

        }
    </script>
</body>

</html>
